.demo-logo-vertical {
    width: 80%; /* Set the height of the div */
    padding-left: 20%;
    padding-top: 10%;
  }
  
  .demo-logo-vertical img {
    height: 100%; /* Set the height of the image to 100% of its parent's height */
    width: 100%;
    border-radius:100%;
  }
*{
  margin: 0;
}
.ant-modal-content{
  padding: 4px 20px !important;
 
}
.info-a{
  color: white;
}
.info-a:hover{
  color: #C02424;
}