.header{
    text-align: center;
}
.center{
    margin-top: 2%;
}
.submit{
    display: flex; /* Enable flexbox for alignment */
    justify-content: flex-end; /* Align buttons to the right */
}
.header{
    font-size: 24px;
    font-weight: bold;
    color: #333;
}